#mainBubble {
  background: #fff;
  border: 0;
  box-shadow: 1px 1px 1px #ccc;
  font: 10px sans-serif;
  position: relative;
  min-height: 72vh;
}
         
#mainBubble svg.mainBubbleSVG {
  left: 0;
  top: 0;
  position: absolute;
  padding-top: 20px;
  width: 90vw;
}
                     
#mainBubble circle.topBubble {
  stroke-width: 0;
}

.childbubble1 {
  display: block;
}