{{define "content"}}
<div class="col s12 m12 l10 page-content">
	<div class="hide-on-small-only" style="padding-top: 3em"></div>
	<h4 class="center-align">Título gráfico</h4>
	<h5 class="center-align">Subtítulo</h5>

	<script src="dependencias/d3.v3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="template/estilo-grafico-barras.css" />
	<script src="template/exemplo-grafico-barras.js"></script>
</div>
{{end}}