path { stroke: #fff; }
path:hover { opacity:0.9; }
rect:hover { fill:blue; }
.axis { font: 10px sans-serif; }
/*.legend tr{ border-bottom:1px solid #ddd; }
.legend tr:first-child{ border-top:1px solid #ddd; }*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path { display: none; }

.legend {
    margin-top: 30px;
    border-collapse:collapse;
    border-spacing:0;
}
.legend td {
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc {
    align:right;
    width:50px;
}

@media screen and (max-width: 992px) {
    .legend {
      margin-left: 5vw;
      width: 88vw;
    }
}

@media screen and (min-width: 993px) {
    .legend {
      margin-left: 5vw;
      width: 70vw;
    }
}