circle,
path {
  cursor: pointer;
}

circle {
  fill: none;
  pointer-events: all;
}

#tooltip { 
  background-color: #222;
  opacity: .5;
  padding: 3px 5px;
  text-align: center;
  color: white;
  border-radius: 3px;
}

