{{define "footer"}}
<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
            <img src="dependencias/Img/fmb.png" class="footer-logo">
        </h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://portalfmb.org.br">Portal FMB</a></li>
          <li><a class="grey-text text-lighten-3" href="https://portal.cfm.org.br">Portal CFM</a></li>
          <li><a class="grey-text text-lighten-3" href="http://portalfmb.org.br/arquivo/">Arquivo</a></li>
          <li><a class="grey-text text-lighten-3" href="http://portalfmb.org.br/fale-conosco/">Fale conosco</a></li>
          <li><a class="grey-text text-lighten-3" href="http://portalfmb.org.br/institucional/">Institucional</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
        Copyright © 2017 | Federação Médica Brasileira - Todos os direitos reservados
    </div>
  </div>
</footer>
{{end}}