<!DOCTYPE html>
<html>
	{{template "head"}}
<body>

	{{template "navbar"}}

	<div class="row main-page">
		{{template "sidemenu"}}

		{{template "content"}}
	</div>

	{{template "footer"}}

</body>
</html>