{{define "sidemenu"}}
<div class="col l2 hide-on-med-and-down collection lateral-menu">
    <a href="home.html" class="collection-item"><i class="fa fa-user"></i>Home</a>

    <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="fa fa-user"></i>Gráficos despesa <i class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <div class="collection">
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Valor por tipo despesa (dashboard)</a>
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Valor por grupos despesa (dashboard)</a>
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Valor por tipo despesa (barras)</a>
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Valor por grupo despesa (discos)</a>
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Proporção por grupos despesa (bolhas)</a>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fa fa-user"></i>Gráficos receita <i class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <div class="collection">
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Valor por tipo receita (dashboard)</a>
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Proporção por grupos receita (bolhas)</a>
            </div>
          </div>
        </li>
        
        <li>
          <div class="collapsible-header"><i class="fa fa-user"></i>Gráficos orçamento<i class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <div class="collection">
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Valor por tipo receita (dashboard)</a>
                <a href="#" class="collection-item"><i class="fa fa-user"></i>Proporção por grupos receita (bolhas)</a>
            </div>
          </div>
        </li>
    </ul>

    <div class="offset-lateral-menu"></div>

</div>
{{end}}