circle,
path {
  cursor: pointer;
}

circle {
  fill: none;
  pointer-events: all;
}

#tooltip { 
  background-color: #222;
  opacity: .5;
  padding: 7px 9px;
  text-align: center;
  color: white;
  border-radius: 3px;
}

.legend tr td{
	height: 10px;
	padding: 5px 10px;
}


body {
  overflow-x: hidden;
}

.nav-extended {
  width: 100vw;
}