.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  opacity: 0.3;
}

#levels{
  margin-left: 120px;
}

#tooltip-table {
	background-color: #333;
	opacity: .9;
}

#tooltip-table th, 
#tooltip-table td {
	text-align: center;
}

#tooltip-table tr td {
  border-bottom: solid 1px #666;
  min-width: 80px;
  padding: 6px;
}

#tooltip-table tr td:first-child {
  font-weight: bold;
}

#tooltip h5 {
  font-size: 1.4em;
  text-align: center;
}

#tooltip h6 {
  text-align: center;
}


body {
  overflow-x: hidden;
}

.nav-extended, footer {
  width: 200vw;
}