body {
    display: none;
}


/* Ajustes de cores no calendário */
.picker__date-display {
    background-color: #4CAF50;
}

.picker__weekday-display {
    background-color: #388E3C;
}

.picker__close, .picker__today,
.picker__day.picker__day--today {
    color: #343434;
}

.picker__day.picker__day--today {
  font-weight: bold;
  color: #4CAF50;
}

.picker__day--selected, 
.picker__day--selected:hover, 
.picker--focused .picker__day--selected {
  background-color: #4CAF50;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left:3%;  
}

table tr.linha-em-foco {
  border-left: solid 12px #a5d6a7;
}

.combobox {
  margin-top: 15px;
}

.combobox .dropdown-content{
  margin-left: -5px;
}

a[href='#modal-ajuda'] {
  font-size: 21px;
}

/* Modo large */
@media screen and (min-width: 992px) {
    /* Ajusta o recuo do menu dropdown dentro da navbar */
    nav .side-nav .collapsible.collapsible-accordion .collapsible-header {
      padding: 0 28px;
    }
}

/* Modo medium ou maior */
@media screen and (min-width: 600px) {
    a.alternate-button {
        margin-top: 30vh;
    }
}

/* Modo medium ou menor */
@media screen and (max-width: 992px) {
    
}

/* Modo medium */
@media screen and (max-width: 992px) and (min-width: 600px) {
    table td.action-col a > i {
        font-size: 1.5em;
    }

    /* Ajusta o recuo do menu dropdown dentro da navbar */
    nav .side-nav .collapsible.collapsible-accordion .collapsible-header {
      padding: 0 12px;
    }

    .dropdown-content {
      margin-left: 84%;
    }
}

/* Modo small */
@media screen and (max-width: 600px) {
    .action-col .dropdown-content li a {
      padding: 20px;
    }
    .dropdown-content {
      margin-left: 72%;
    }
}
