﻿/* Toast extensions */
.toast-error {
    background-color: #f44336;
}

.toast-warning {
    background-color: #ffa726;
}

.toast-success {
    background-color: #00c853;
}

.toast-info {
    background-color: #b2ebf2;
    color: #222;
}

.toast-default {
    background-color: #e0e0e0;
}

body {
    display: none;
}


/* Ajustes de cores no calendário */
.picker__date-display {
    background-color: #4CAF50;
}

.picker__weekday-display {
    background-color: #388E3C;
}

.picker__close, .picker__today,
.picker__day.picker__day--today {
    color: #343434;
}

.picker__day.picker__day--today {
  font-weight: bold;
  color: #4CAF50;
}

.picker__day--selected, 
.picker__day--selected:hover, 
.picker--focused .picker__day--selected {
  background-color: #4CAF50;
}


/* Modo large */
@media screen and (min-width: 992px) {
    /* Ajusta o recuo do menu dropdown dentro da navbar */
    nav .side-nav .collapsible.collapsible-accordion .collapsible-header {
      padding: 0 28px;
    }
}

/* Modo medium ou maior */
@media screen and (min-width: 600px) {
    a.alternate-button {
        margin-top: 30vh;
    }
}

/* Modo medium ou menor */
@media screen and (max-width: 992px) {
    
}

/* Modo medium */
@media screen and (max-width: 992px) and (min-width: 600px) {
    table td.action-col a > i {
        font-size: 1.5em;
    }

    /* Ajusta o recuo do menu dropdown dentro da navbar */
    nav .side-nav .collapsible.collapsible-accordion .collapsible-header {
      padding: 0 12px;
    }
}

/* Modo small */
@media screen and (max-width: 600px) {

}
