
<script src="size.js"></script>
<body onLoad="init()">
<h3>Window size is <span class="window-size"></span></h3>
<p>Knowing this number you can make decisions based in breakpoints of window.</p>
<hr>
<h3>Screen size is <span class="screen-size"></span></h3>
<p>Here you have an idea of device screen size. </p>
</body>
