<script src="dependencias/JQuery/jquery-3.1.0.min.js"></script>

<script type="text/javascript">

   $.get("/orcamento")
	   .done(function(data) {
	       console.log(data);
   });

   $.post("/orcamentoreceitabubble")
	   .done(function(data) {
	       console.log(data);
   });

</script>
