path { stroke: #fff; }
path:hover { opacity:0.9; }
rect:hover { fill:blue; }
.axis { font: 10px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path { display: none; }

.legend {
    margin-top: 30px;
    border-collapse:collapse;
    border-spacing:0;
}
.legend td {
    padding:4px 5px;
    vertical-align:bottom;
}
.legendPerc {
    text-align:right;
    width:70px;
}
.legendFreq {
  width:120px;
}

@media screen and (max-width: 600px) {
    .legend {
      margin-left: 0;
      width: 85vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    .legend {
      margin-left: 0;
      width: 87vw;
    }
}

@media screen and (min-width: 993px) {
    .legend {
      margin-left: 0;
      width: 50vw;
    }
}

#tooltip { 
  background-color: #222;
  opacity: .5;
  padding: 7px 9px;
  text-align: center;
  color: white;
  border-radius: 3px;
}