{{define "navbar"}}
<nav class="nav-extended green">
    <div class="nav-wrapper">
      <a href="/material-template-2" class="brand-logo">
          <img src="dependencias/Img/fmb.png" />
      </a>
      <span class="titulo-aplicacao hide-on-med-and-down right">Portal de Transparência</span>
      <a href="#" data-activates="drawer-menu" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>

      <!-- Drawer menu -->
      <ul class="side-nav" id="drawer-menu">
        <li>
            <div class="userView">
                <img src="dependencias/Img/fmb.png" class="drawer-logo" />
            </div>
        </li>

        <!-- Opções Drawer menu -->
        <li><a href="#">Opção 1</a></li>
        <li><a href="#">Opção 2</a></li>
        <li><a href="#">Opção 3</a></li>
        <li><a href="#">Opção 4</a></li>
        <li>
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header">Categoria 1<i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#!">Subitem 1</a></li>
                    <li><a href="#!">Subitem 2</a></li>
                    <li><a href="#!">Subitem 3</a></li>
                    <li><a href="#!">Subitem 4</a></li>
                  </ul>
                </div>
              </li>
            </ul>
        </li>
        <li><a href="#">Opção 5</a></li>
        <li class="divider"></li>
        <li><a href="#" class="close-drawer-menu">Fechar</a></li>
      </ul>
    </div>
</nav>
{{end}}