﻿/* Toast extensions */
.toast-error {
    background-color: #f44336;
}

.toast-warning {
    background-color: #ffa726;
}

.toast-success {
    background-color: #00c853;
}

.toast-info {
    background-color: #b2ebf2;
    color: #222;
}

.toast-default {
    background-color: #e0e0e0;
}


/* Card extensions */
.card-tabs + .card-content {
	min-height: 9.5rem;
}

/* Input extensions */
.input-field.small {
	height: 3.2rem;
}

.input-field.small .prefix {
  position: absolute;
  width: 3rem;
  font-size: 1.5rem;
  transition: color .2s;
  margin-top: 1rem;
}

.datepicker {
    cursor: text;
}

.check-list li > label {
    color: #333;
}

.check-list .collection-header {
    font-size: 1.5em;
}

nav .side-nav .collapsible.collapsible-accordion .collapsible-body {
  padding: 0;
}

nav .side-nav .collapsible.collapsible-accordion .collapsible-body i {
  font-size: 1em;
}

.btn:disabled {
  opacity: .5;
  color: #FFF !important;
}

.breadcrumb {
  font-size: 14px;
}

.steps li > a:hover {
  background-color: transparent;
}
.step {
  color: #EEE;
  font-size: 14px; 
}
.step.active {
  color: #FFF;
  font-weight: 800; 
}

.dialog-table a > i {
  font-size: 2.1em;
  padding-right: 10px;
}

.page-content {
  min-height: 73vh;
}

.hided {
  display: none;
}

#acoes-form button {
  margin-right: 10px;
  margin-bottom: 10px;
}

#acoes-form button i {
  font-size: 0.8em;  
}


/* Modo large */
@media screen and (min-width: 992px) {
    /* Ajusta o recuo do menu dropdown dentro da navbar */
    nav .side-nav .collapsible.collapsible-accordion .collapsible-header {
      padding: 0 28px;
    }
    nav {
      height: 95px;
    }
}

/* Modo medium ou maior */
@media screen and (min-width: 600px) {
    a.alternate-button {
      margin-top: 30vh;
    }
    nav {
      padding-left: 30px;
    }
    footer.page-footer .footer-copyright {
      font-size: 12px;
    }
    .home-bolha {
      display: block;
    }
    .home-dropdown {
      display: none;
    }
}

/* Modo medium ou menor */
@media screen and (max-width: 992px) {
    nav {
      height: 60px;
    }
}

/* Modo medium */
@media screen and (max-width: 992px) and (min-width: 600px) {
    /* Ajusta o recuo do menu dropdown dentro da navbar */
    nav .side-nav .collapsible.collapsible-accordion .collapsible-header {
      padding: 0 12px;
    }
}

/* Modo small */
@media screen and (max-width: 600px) {
  .dialog-table a > i {
    font-size: 2.8em;
  }
  .dialog-table .action-col {
    width: 20%;
  }
  .home-dropdown {
    display: block;
  }
  .home-bolha {
    display: none;
  }
  .page-content {
    min-height: 76vh;
  }
}
