/**

Copyright (c) 2014 BrightPoint Consulting, Inc.

 Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
                        restriction, including without limitation the rights to use,
                        copy, modify, merge, publish, distribute, sublicense, and/or sell
                                                                                  copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
                                                                                         EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
                                                                                         WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.

*/

body {
    overflow: auto;
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans';
}

#chart, #header, #footer {
    position: absolute;
    top: 0;
}

#header, #footer {
    z-index: 1;
    display: block;
    font-size: 36px;
    font-weight: 300;
    text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
    color: #fff;
    text-shadow: 0 1px 4px #000;
}

#header {
    top: 80px;
    left: 140px;
    width: 1000px;
}

#footer {
    top: 680px;
    right: 140px;
    text-align: right;
}

rect {
    fill: none;
    pointer-events: all;
}

pre {
    font-size: 18px;
}

line {
    stroke: #000;
    stroke-width: 1.5px;
}

.string, .regexp {
    color: #f39;
}

.keyword {
    color: #00c;
}

.comment {
    color: #777;
    font-style: oblique;
}

.number {
    color: #369;
}

.class, .special {
    color: #1181B8;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.hint {
    position: absolute;
    right: 0;
    width: 1280px;
    font-size: 12px;
    color: #999;
}


.node circle {
    cursor: pointer;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    pointer-events: none;
    background: #FFFFEF;
    width: 400px;
    height: 135px;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
}

div.tooltipTail {
    position: absolute;
    left:-7px;
    top: 72px;
    width: 7px;
    height: 13px;
    background: url("../images/tail_white.png") 50% 0%;
}

div.toolTipBody {
    position:absolute;
    height:100px;
    width:230px;
}

div.header {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    color:#666;
    text-align:center;

}

div.header-rule{
    height:1px;
    margin:1px auto 3px;
    margin-top:7px;
    margin-bottom:7px;
    background:#ddd;
    width:125px;
}

div.header1{
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    margin-bottom: 2px;
    color:#333;
    text-align:center;
}

div.header2{
    color:#000;
    /*   text-transform:uppercase;*/
    font-size: 11px;
    text-align:center;
    font-style:italic;
}

div.header3 {
    text-align: left;
    font-size: 11px;
    /*  width:170px;*/
    text-align:center;
}

div.header4 {
    /*  position:absolute;*/
    text-align:center;
    right:10px;
    top:28px;
    font-size: 16px;
    /*  width:100px;*/
    text-align:center;
    overflow:hidden;
    font-weight:bold;
}

/* Navigation */
.bp-navBar {
    border-top: solid 1px #DDD;
    padding: 15px 0 0;
    margin: 0 10px;
    z-index: 100;
    position: absolute;
    width: 950px;
}


.bp-navigation {

}
.bp-navigation li {
    color: #999;
    font-size: 14px;
    cursor: pointer;
    float: left;
    padding: 10px 18px;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    border-left: solid 1px #CCC;
    background: #f9f9f9;
    margin: 0 0;
}

.bp-navigation li:first-of-type{
    border-radius: 4px 0 0 4px;
}
.bp-navigation li:last-of-type{

    border-right: solid 1px #CCC;
    border-radius: 0 4px 4px 0;
}
.bp-navigation li.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

.bp-navigation li.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

div.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
    padding-bottom:10px;
}
